@import "tailwindcss";

@layer base {
  body {
    @apply bg-surface-primary text-text-primary;
  }
}

@theme {
  --color-surface-primary: #f4f4f5;
  --color-surface-inverted: #18181b;
  --color-surface-subtle: #e5e7eb;
  --color-surface-loading-animation: #d1d5db;

  --color-text-primary: #18181b;
  --color-text-inverted: #f4f4f5;
  --color-text-muted: #52525b;
  --color-text-subtle: #e5e7eb;

  @keyframes shimmer {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }

  --animate-shimmer: shimmer 4s infinite linear;
}
